<a href="https://colab.research.google.com/github/lisseta/edd_1310_2021/blob/master/06Octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#String continuación

In [7]:
frase = "Si funciona... no lo compongas!!!"
numeros_txt = "    1, 2, 3, 4    , 5   , 35   , 15  , 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(',')
print(numeros_txt)
for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())
print(numeros_txt)

    1, 2, 3, 4    , 5   , 35   , 15  , 12
['1', ' 2', ' 3', ' 4    ', ' 5   ', ' 35   ', ' 15  ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]

#Función RANGE 
## range (inicio, stop, incremento)

In [ ]:
print(range(1,3,10))

#Listas
*Mutables
se declaran con [ ]
Y el selector es [int :] ->El número del elemeto en la lista

#Tuplas 
No mutables, 
declaran con (), selector [int ] 

#Diccionarios 
Son mutables, 
son conjunto de pares llave:valor
Equivalentes a los Objetos JSON de JavaScript

#Conjuntos 
Representacion de la teoría de conjuntos

In [12]:
#Listas (Equicalentes a arreglos en otros lenguajes de programacion)
frutas=["pera", "manzana", "fresa", "kiwi", "naranja"]
print(frutas)
cosas=["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"] ]
print(cosas)
frutas[2]= "Fresa" #Fruta [2]=frutas[2].capitalize()
print(frutas)

#Agregar a la lista
frutas.append("Aguacate")
print(frutas)
frutas.insert(2, "Sandia")
print(frutas)

#Concatenar listas
fecha=["06","10","2020"]
print(fecha)
fecha_str="/".join(fecha)
print(fecha_str)

['pera', 'manzana', 'fresa', 'kiwi', 'naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja']
['pera', 'manzana', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['pera', 'manzana', 'Sandia', 'Fresa', 'kiwi', 'naranja', 'Aguacate']
['06', '10', '2020']
06/10/2020

In [23]:
#Eliminar elementos 
cosas=["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"] ]
print(cosas)
cosas.append("Libro")
cosas.append("Lapiz")
print(cosas)
algo=cosas.pop() #Como no especifico que quiero,es sacado de la lista
#Elimina y te lo regresa, se almacena en la variable algo


algo=cosas.pop(2)
print(cosas)
print(algo)
cosas.remove(2)
print(cosas)
#otra forma de remover remove(value)->Busca en la lista y lo elimina en la primera coincidencia

#cosas.clear()
print(cosas)

#ORDENAR
print(frutas)
frutas.sort() #Ordena como un diccionario, ALFABETICAMENTE
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Libro', 'Lapiz']
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Libro']
3.1416
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['cuaderno', True, False, ['Rojo', 'Azul'], 'Libro']
['Aguacate', 'Fresa', 'Sandia', 'kiwi', 'manzana', 'naranja', 'pera']
['Aguacate', 'Fresa', 'Sandia', 'kiwi', 'manzana', 'naranja', 'pera']

In [30]:
#Slicing

cosas=["cuaderno", 2, 3.1416, True, False, ["Rojo", "Azul"] ]
print(cosas[3:5:1])
print(cosas)
print(cosas[0][3:5:1]) #Seleccionas posición y rebanas

numeros=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13]) #El tope no se cuenta
print(numeros[:13:])

#Sustituir rebanadas -2,-2 -> [1,2,3,4,5,6,7, -2, -2, 8,9,10,11,12,13,14,15]
numeros[8:13:] = [-2,-2] 
print(numeros)

#Preguntar por existencia
# ¿Existe?
print(100 in numeros ) #Existe->TRUE NoExiste->FALSE

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
False

#Listas Multidimensión

Listas dentro de listas

In [35]:
computadoras=["HP", "Mac Book PRo 17", "Mate Book", "Lenovo Legion"]
oss= ["Windows 10", "Linux", "Android", "iOS"]

computo= [computadoras, oss]
print(computo[0])
print(computo[1])
print(computo[0] [2])
print(computo[0] [2] [0:5])
print(computo[0] [3] [5: :-1])
print(computo[0] [3] [-8: :-1])
print("Linux" in computo [1])
dbms=[ ["Mysql", "Open Source", False] , ["MS SQL Server", "de paga", True]]
computo.append(dbms)
print(computo)
print(computo[2] [0] [0])
print(computo[2][1][1])

['HP', 'Mac Book PRo 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'iOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book PRo 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'iOS'], [['Mysql', 'Open Source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga