<a href="https://colab.research.google.com/github/lisseta/edd_1310_2021/blob/master/J01Octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Intro Python 3
### Variables 

Tipo Dinámico

In [1]:
escuela = "FES Aragón"
print(escuela)
print("-----")

FES Aragón
-----

Tipo Entero

In [2]:
edad=20
estatura=1.55

Tipo String 
#####fumador= True

In [8]:
frase = """
Esta es una frase de multiples líneas y también es un tipo de dato
"""
print(frase)
nombre= "Lizeth"
nombre_completo= "Lizeth Evelyn H. Piedras"

Esta es una frase de multiples líneas y también es un tipo de dato

#Print 
con comas ,
con signo +, 
con format()
con el operador "f"

In [10]:
print(nombre,edad)

Lizeth 13

In [12]:
# El signo + concatena cadenas. No olvidar convertirlo
print(nombre+str(edad))
print(nombre+nombre_completo)

Lizeth13
LizethLizeth Evelyn H. Piedras

In [18]:
#con formato -> Nombre: Lizeth y su edad es 20 años.
print("Su nombre es", nombre," y su edad es de", edad, "años.")
print("Su nombres es {0} y su edad es de {1} años.".format(nombre,edad))
#{} son los comodines.
#Intercambio de comodines
print("Su nombres es {1} y su edad es de {0} años.".format(nombre,edad))
#El format te permite jugar con los índices

Su nombre es Lizeth  y su edad es de 13 años.
Su nombres es Lizeth y su edad es de 13 años.
Su nombres es 13 y su edad es de Lizeth años.

In [19]:
#Formato operador f""
print (f"Su nombre es {nombre} y su edad es de {edad} años.")

Su nombre es Lizeth y su edad es de 13 años.

#Carácter de escape
\n salto de línea,
\t tabulador,
\a beep,
\\" , Imprimir comilla doble
\\' ,  Imprimir comilla simple

In [20]:
"""Esto es un comentatio de múltiple línea
"""
print(f"\t Mi nombre es\n\t\t {nombre}")

	 Mi nombre es
		 Lizeth

#Documentación en Python
## Ayuda de tipos de dato en Python
dir() Muy general,
help() Más detalle.

In [ ]:
#str, int, float, bool... list, dict, set
dir(str)
#Lista de funciones y atributos que tiene dicha función
#Probar cada función, todas de ÚTILIDAD.
help(str) 
#Todos los que tienen guíon bajo, son PRIVADOS, no se deberían usar. 
#R E C O M E N D A C I O N 
#No utilizar help con línea de código.

In [27]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="-----")
print(nombre_completo.title())

Lizeth evelyn h. piedras
LIZETH EVELYN H. PIEDRAS-----Lizeth Evelyn H. Piedras

In [26]:
help(print)
#Definición de PRINT 
#print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)
#file Salida Estándar
#flush limpiar el buffer

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

#Clase String
Manejada como arreglo (C o Java) o Lista(Python)

In [30]:
telefono= "Huawei mate 30 pro" 
print(telefono[0])
print(telefono[5])

H
i

#Slicing (rebanado)
Tiene una sintaxis [::] ->
[ini : stop : incremento]

Nota: STOP no se incluye

In [37]:
print(telefono[7:11:1])
#El inicio e incremento son opcionales
print(telefono[:11:])
#El valor por defecto de STOP es len(str), El tamaño de la cadena
print(telefono[::])
#Incremento negativo
print(telefono[::-1])
#Slacing Negativo
print(telefono[-3::1]) 
ini=-3
inc=1
print(telefono[ini::inc])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro
pro

#Métodos de String (Str)
Exiten métodos muy útiles en esta clase

In [49]:
facultad="   facultad de estudios superiores aragon   "
print(facultad)
print(facultad.count("u") ) #Hace el conteo del numero de elementos en la cadena
print(facultad.find("s"))
print(facultad.strip())
tamaño=len(facultad)
print(len(facultad)) #Da la longitud del String(de la cadena) 
print(f"tamaño de la cadena es {tamaño} caracteres")
print(facultad.split("t")) #Elimina los espacios izquierda/derecha
#Esto es una lista ['   fac', 'ltad de est', 'dios s', 'periores aragon   ']

print(facultad)
print(facultad.strip().split(" "))

print("-----")

otra_cadena="FES Aragón"
print(facultad)
print(otra_cadena)

   facultad de estudios superiores aragon
3
16
facultad de estudios superiores aragon
44
tamaño de la cadena es 44 caracteres
['   facul', 'ad de es', 'udios superiores aragon   ']
   facultad de estudios superiores aragon
['facultad', 'de', 'estudios', 'superiores', 'aragon']
-----
   facultad de estudios superiores aragon
FES Aragón

In [50]:
#Copiar Listas
colores = ["rojo","verde"]
otra=colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde']
['rojo', 'verde', 'rosa']